*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
    font-family: 'Poppins', sans-serif;
}
body{

}
nav{
    padding: 20px 10%;
    height: 15vh;
    background-color: burlywood;
}
nav ul{
display: flex;
align-items: center;
background-color: burlywood;
/* justify-content: center; */
}
nav ul li{
    background-color: burlywood;
    list-style: none;
    margin-right:5% ;
    font-weight: 600;
}
nav ul li img{
    background-color: burlywood;
    width: 100px;
}
nav ul li:hover{
    cursor: pointer;
    color: rgb(47, 220, 162);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftmain{
    width: 40%;
    padding-left: 7%;
}
.leftmain h1{
    font-size: 60px;
}
.leftmain p{
    margin: 5% 0;
}
.leftmain button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.leftmain button:hover{
    color:#3b855b;
    background-color: white;
    cursor: pointer;
    border: 1px solid #3b855b;
}

/* right main section */
.rightmain{
    /* width: 60%; */
    padding: 7%;
}
.rightmain div img{
    width: 30%;
}
}
.rightmain div img:firstchild{
    margin-right: 20px;
}
.rightmain div{

    margin-bottom: 20px;
}
.rightmain >img{
    width: 64%;
}
